.center {
  display: inline;
  margin: 3px;
}

.form-input {
  width: 100px;
  padding: 3px;
  background: #fff;
}
.form-input input {
  display: none;
}
.form-input label {
  display: block;
  width: 100px;
  height: auto;
  max-height: 100px;
  border-radius: 10px;
  cursor: pointer;
}

.form-input img {
  width: 100px;
  height: 100px;
  margin: 2px;
}

.shrift {
    margin-top:0px
}

.anotherStyle{
  display: flex;
  flex-wrap: wrap;
}